/* AddProduct.css */

.container-main {
    margin-top: 20px;
  }
  
  .center-align {
    text-align: center;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Add these styles */
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;/* Add margin-top to create space between the button and the row above */
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  